:root {
    --unselected-color: #4d4d4d;
    --selected-vowel: #6495ed;
    --selected-consonant: #daa520;
}

body{
    background-color: #9a9a9a;
    font-size: 2em;
}

.footer{
    font-size: .5em;
    bottom: 0;
    padding-top:.5em;
    padding-bottom: 0;
    text-align: right;
}


h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-content{
    background-color: #2d2d2d;
    border: 2px solid #cecece;
    color: #cecece;
    border-radius: 4px;
    width: 100%;
    margin: 1rem auto;
    box-sizing: border-box;
    position: relative;
    padding: .5em .5em .1em;
}

.controls{
    display: flex;
    gap: .1em;
    width: 100%;
}

.full-spacer{
    margin: auto;
}

.btn{
    border-style: none;
    background: var(--unselected-color);
    color: #cecece;
    padding: .5em 1em;
    margin: 5px 0px;
    cursor: pointer;
    position: relative;
    border-radius: .3em;
}
.btn:hover{
    background: #9a9a9a;
}

.glyph-container{
    width: 100%;
    border: #9a9a9a dashed 1px;
    border-radius: .1em;
    display: flex;
    flex-wrap: wrap;
    padding: .3em;
    box-sizing: border-box;
}

.space{
    width:1em;
}

.glyph-output{
    text-align: center;
    position: absolute;
    height: 1em;
    bottom: 0;
    left: 0;
    right: 0;
}

.glyph{
    position: relative;
    flex-direction: row;
    width: 2.5em;
    height: 7em;
    margin: 0;
    padding: 0;
}

.bars{
    height: 6em;
    position: relative;
    width: 100%;
}

.bars::before {
    padding: 0;
    margin: 0;
    content: '';
    position: absolute;
    height: .1em;
    border-radius: 1vw;
    left: -1px;
    right: -1px;
    top: 42%;
    background: #9a9a9a;
    z-index: 1;
}

.glyph .vowel{
    background: var(--unselected-color);
    /*border: #9a9a9a dashed 2px;*/
    position: absolute;
    width: .25em;
    height: 1.35em;
    border-radius: 1vw;
}

.glyph .vowel.active{
    background: var(--selected-vowel);
}
.glyph .vowel-0{
    transform: translate(1.75em) rotateZ(-55deg);
}
.glyph .vowel-1{
    transform: translate(.5em) rotateZ(55deg);
}
.glyph .vowel-2{
    transform: translate(0em,1.25em);
}
.glyph .vowel-3{
    height: 1em;
    transform: translate(0em,3em);
}
.glyph .vowel-4{
    transform: translate(.5em,3.8em) rotateZ(-55deg);
}
.glyph .vowel-5{
    transform: translate(1.75em,3.8em) rotateZ(55deg);
}

.glyph .consonant.active{
    background: var(--selected-consonant);
}

.glyph .midline {
    background: var(--unselected-color);
    /*border: #9a9a9a dashed 2px;*/
    position: absolute;
    width: .25em;
    height: .8em;
    left: 1.15em;
    top: 1.75em;
    border-radius: 1vw;
}
.midline.active {
    background: var(--selected-consonant);
}

.glyph .consonant{
    background: var(--unselected-color);
    /*border: #9a9a9a dashed 2px;*/
    position: absolute;
    width: .25em;
    height: 1em;
    border-radius: 1vw;
}
.glyph .consonant-0{
    transform: translate(1.65em,1em) rotateZ(55deg);
}
.glyph .consonant-1{
    transform: translate(1.15em,.6em);
}
.glyph .consonant-2{
    transform: translate(.65em,1em) rotateZ(-55deg);
}
.glyph .consonant-3{
    transform: translate(.65em,3em) rotateZ(55deg);
}
.glyph .consonant-4{
    height: 1.2em;
    transform: translate(1.15em,3.4em);
}
.glyph .consonant-5{
    transform: translate(1.65em,3em) rotateZ(-55deg);
}

.glyph .reverse {
    position: absolute;
    height: .5em;
    width: .5em;
    left: 1.25em;
    top: 5em;
    transform: translate(-50%);
    border-radius: 50%;
    border: #4d4d4d solid 5px;
}
.reverse.active {
    border: rosybrown solid 5px;
}