@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

#text-input{
    background: #aaaaaa;
    height: 30px;
    display: inline-block;
    color: #2d2d2d;
    padding: 1em;
    border-radius: .75em;
    width: 500px;
    font-weight: 600;
    border: 3px solid transparent;
    box-shadow:0 0 15px 4px rgba(255,255,255,0.1);

}
#text-input::placeholder{
    color: #4d4d4d;
}

#text-input:focus{
    outline-width: 0;
    border: 3px solid #daa520;
}

#go{
    background: #999999;
    display: inline-block;
    color: #2d2d2d;
    padding: 0 1em;
    border-radius: .75em;
    width: max-content;
    border: 2px solid black;
    font-weight: 900;
    text-align: justify;
    box-shadow:0 0 15px 4px rgba(255,255,255,0.1);
}

#go:active{
    border: 2px solid #daa520;
}

#go:disabled {
    background: #bc8f8f;
}

.input{
    display: flex;
    gap: .5em;
    margin-top: .5em;
}

#image-out {
    margin: .5em 0;
    border: 2px black solid;
    background: white;
    image-rendering: crisp-edges;
}

.error::before {
    content:'\f057';
    font-family: FontAwesome;
    font-style:normal;
    font-weight:400;
    speak:none;
    display:inline-block;
    text-decoration:inherit;
    width:1em;
    margin-right:.2em;
    text-align:center;
    font-variant:normal;
    text-transform:none;
    line-height:1em;
    margin-left:.2em;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

.info{
    font-size: 22px;
    font-weight: normal;
    margin-top: 20px;
}

.error{
    padding:12px;
    color: #D8000C;
    background-color: #FFD2D2;
    margin:10px 22px;
    font-size: 20px;
    vertical-align:middle;
    border-radius:.5em;
    border: 1px solid;
    width: max-content;
    box-shadow:1px 1px 3px rgba(255,255,255,0.1);
}

input[type="checkbox"] {
    visibility: hidden;
    height: 22px;
    width: 22px;
    position:relative;
}

input[type="checkbox"]::after {
    content: '';
    visibility: visible;
    background: #aaaaaa;
    height: 22px;
    width: 22px;
    position: absolute;
    border-radius: 5px;
}

input[type="checkbox"]:checked::after {
    content: '\f00C';
    font-family: FontAwesome;
    font-size: 22px;
    visibility: visible;
    background: #aaaaaa;
    height: 22px;
    width: 22px;
    position: absolute;
}